<div id="<%= dom_id group_category %>">
  <p>
    <strong>Group:</strong>
    <%= group_category.group_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= group_category.category_id %>
  </p>

</div>
